extends layout

block content
  .container
    .panel.panel-primary
      .panel-heading
        h1.text-center File Metadata Microservice
      .panel-body.text-center
        h2 User stories:
        h3 When you submit something, you will receive the file size in bytes and other file metadata within the JSON response
        h2 Usage:
        h3 Submit a file to view its metadata.
        form(action='/upload' enctype="multipart/form-data" name='upload' method='post' )
          input(type='file' name='file').center-block.btn.btn-primary
          button(type='submit' style='margin-top: 10px').btn.btn-success Send file
